bleach==1.5.0
cached-property==1.5.2
Cython==0.29.17
enum34==1.1.10
h5py==3.0.0
html5lib==0.9999999
importlib-metadata==2.0.0
Keras==2.0.8
Mako==1.0.7
Markdown==3.3.3
MarkupSafe==1.0
numpy==1.16.3
opencv-python==4.4.0.44
protobuf==3.13.0
pycairo==1.16.2
pygobject==3.26.1
python-apt==1.6.5+ubuntu0.3
PyYAML==5.3.1
scipy==1.5.4
six==1.15.0
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0
unattended-upgrades==0.1
Werkzeug==1.0.1
zipp==3.4.0
